/* *,
:after :before {
  box-sizing: border-box;
} */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.logo-part {
  color: #4d5ae5;
}
/* H2 */
.general-headings {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
/* H3 */
.headings {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  display: flex;
  width: 1158px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 141px;
}
