.team .general-headings {
  text-align: center;
  margin-bottom: 72px;
}
.team .headings {
  text-align: center;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team li {
  background-color: #ffffff;
}
.team-list-item {
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0 0 4px 4px;
}
.cards {
  padding: 32px 16px;
}
.cards .headings {
  margin-bottom: 8px;
}
